/* @font-face {
    font-family: 'avenir-book';
    src: url('font/AvenirLTStd-Book.eot');
    src: url('font/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('font/AvenirLTStd-Book.woff2') format('woff2'),
        url('font/AvenirLTStd-Book.woff') format('woff'),
        url('font/AvenirLTStd-Book.ttf') format('truetype'),
        url('font/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


 */





