html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    overflow-x: hidden;
} 


.section1{
    background-color: black;
    width: 100%;
    max-width: 317px;
    height: 1080px;
}
 .paragrap1{
    color: white;
    
     
}
.design{
    font-size: 27px;
    margin-left: 30px;
}
.line{
    margin-left: 280px;
    margin-top: -100px; 
    display: flex;


}
 .box1{
    margin-bottom: 90px;
    display: flex;
    
} 
.paragrap1{
    margin-left: 15px;
    margin-top: 50px;
}


.box2{
    
    margin-left: 35px;
    margin-top: 100px;
    margin-left: 35px;
    margin-top: 35px;
    transition-property: all; 
    transition-delay:0.2s ;  
    transition-duration:0.9s ;  
    transition-timing-function: ease-out; 
}

.box3{
    
    margin-left: 35px;
    margin-top: 35px;
    transition-property: all; 
    transition-delay:0.2s ;  
    transition-duration:0.9s ;  
    transition-timing-function: ease-out;  
}

 .box3:hover{
    background-color: #FF2288;
    margin-left: 50px;
    border-radius: 10px;
   
}
.box2:hover{
    background-color: #FF2288;
    margin-left: 50px;
    border-radius: 10px;
} 
a{
    text-decoration: none;
}

 .paragrap2{ 
     margin-left: 40px; 
    margin-top: -20px;
    color: white;
    font-size: 16px;
    transition-property: all; 
    transition-delay:0.2s ;  
    transition-duration:0.9s ;  
    transition-timing-function: ease-out;  
    
    
}
.paragrap2:hover{
    font-size: 50px;
    

}

.paragrap3{
    color: white;
    margin-top: 90px;
    margin-left: 40px;
    font-size: 16px;
    font-family: 'avenir-book';
}
.box4{
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
}
.paragrap4{
    display: flex;
    color: white;
    margin-left: 70px;
    margin-top: -20px;
}
.load-more{
    color: white;
    margin-top: 50px;
    margin-left: 35px;
}
/* 
.navbar-ul{
	display: flex;
}
.header1{
	display: flex;
}
.navbar-ul{
    display: flex;
	
	
}
.paragrap7{
	margin-left: 20px;
	margin-top: 20px;
    color: black;
	

	
}

.box7{
	margin-left: 400px;
	

	
}

.navbar-li1{
	background-color:#F8F8F8;
	margin-left: 50px; 
	margin-top: 30px;
	border-radius: 10px;
	max-width: 446px;
	height: 56px;
	font: 14px;
	
}
.navbar-li2{
	
	margin-left: 600px;
	margin-top: 30px;
	color: #FF2288;
}
.navbar-li3{
	margin-left: 38px;
	margin-top: 30px;
	
}
.navbar-li4{
margin-left: 30px;
margin-top: 30px;

}
.navbar-li5{
	margin-left: 30px;
	margin-top: 15px;
}
.navbar-li6{
    margin-left: 25px; 
	margin-top: 20px;
	background-color: #FF2288;
	width: 100px;
	height: 50px;
	border-radius: 15px;
	color: white;
	font: 14px;
	padding-bottom: 30pxs;
}
.header1{
    display: flex;
}
 */
   .header1{
     display: flex;
     /* flex-wrap: wrap;  */
     width: 100%;
     
 }
 .navbar-ul{
     display: flex;
     margin-left: 350px;
     margin-top: -1060px;
 }
  .paragrap5{
	 margin-left: 20px; 
	 margin-top: 20px;
    color: black;
 }
 .navbar-li1{
	background-color:#F8F8F8;
	/* margin-left: 1px;  */
	margin-top: 10px;
	border-radius: 10px;
	max-width: 446px;
     /* width: 100%;  */
	height: 56px;
	/* font: 14px; */
    /* background-position: center; */
    display: flex;
	
}
.image1{
    margin-top: 20px;
     margin-left: 100px; 
    margin-right: 20px;


}
.navbar-li2{
	
	margin-left: 450px;
	margin-top: 30px;
	color: #FF2288;
    
}
.navbar-li3{
	margin-left: 10px;
	margin-top: 30px;
	
}
.navbar-li4{
    margin-left: 30px;
    margin-top: 30px;
}
.navbar-li5{
	margin: 20px;
	margin-top: 15px;
}
.p1{
    color: black;
}
.navbar-li6{
    margin: 20px;
	margin-top: 15px;
	background-color: #FF2288;
	width: 129px;
	height: 55px;
	border-radius: 10px;
	/* color: white; */
	/* font: 14px; */
	/* padding-bottom: 30pxs; */
}
.upload{
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.ball{
    margin-right: 30px;
    margin-bottom: 40px;
    position: absolute;
}
.aicon{
    margin-bottom: 20px;
    position: relative;
    
}
.header2{
    display: flex;
}
.navbar-ul2{
    display: flex;
    margin-left: 400px;
    margin-top: -900px;

}
.navbar-li15{
    display: flex;
}
.box10{
    display: flex;
    margin-left: 150px;
    margin-top: -15px;
   
}
.navbar1{
    margin: 30px;
    
}

